jaaql-monitor==1.2.109
psycopg[binary]==3.1.12
Pillow==10.1.0
cryptography==41.0.5
flask==3.0.0
coverage==7.3.2
psycopg-pool==3.1.8
pyjwt==2.8.0
pyyaml==6.0.1
werkzeug==3.0.1
argon2-cffi==23.1.0
pyotp==2.9.0
qrcode==7.4.2
gunicorn==21.2.0
gevent==23.9.1
requests==2.31.0
pyzbar==0.1.9
parsys-requests-unixsocket==0.3.1
selenium==4.15.1
twine==4.0.2
urllib3==2.0.7
